.blog-2{
    width: 70%;
    margin-left: 20%;
}
#g-how{
    margin-top: 20px;
    margin-bottom: 20px;
}
#par-b{
    /* background-color: red; */
    margin-top: 20px;
    margin-bottom: 20px;
}
#text-b{
margin-bottom: 10px;
}
#parr-b{
    padding: 10px;
}
#gg-how{
   margin-top: 20px; 
   margin-bottom: 20px;
}