body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.PhoneInputInput{
  height: 40px;
  padding:0px
}
#testimonial:hover{
  transform: rotateX(45deg) rotateZ(-25deg);
  transform-style: preserve-3d;
  transition: .3s;
  vertical-align: bottom;
  filter: grayscale(50%);
  transition: .3s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;